.container {
  // Dimesions and Colors
  // background-color: $grey;
  width: 100vw;
  min-height: 100vh;  
  // Display Properties
  display: grid;
  grid-template-rows: 4em 2em auto 1.5em;
  grid-template-columns: 1fr;
  grid-gap: 0.25em;
  &__start{
    grid-template-rows: 4em 0 auto 1.5em;
  }
}

.header {
  padding: 0 2vw;
  line-height: 2;
  color: #333333;
  background-color: $grey;
}

.nav {
  position: relative;
  height: 2em;
  padding: 0 2vw;
  color: $white;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;  
}

.slider {
  user-select: none;
  position: relative;
  display: inline-block;
  width: 7em;
  height: 1.5em;
  background-color: silver;
  color: black;
  text-transform: uppercase;
  font-size: 0.8em;
  font-style: italic;
  padding-left: 1.5em;
  padding-right: 0.5em;
  border-radius: 1.5em;
  overflow: hidden;
  transition: color .8s;
  transition: padding .8s;
  &:hover {
    transform: scale(1.05);
  }
  &:not(:last-child) {
    margin-right: 0.4em;
  }
  &:before{    
    content: '';
    display: inline-block;
    position: absolute;
    background-color: white;
    top: 0.25em;
    left: 0.25em;    
    height: 1em;
    width: 1em;
    border-radius: 50%;
    transition: all .4s;
  }
  input:checked + & {
    font-style: normal;
    font-weight: bold;
    color: white;
    padding-left: 0.5em;
    background-color: $primary;
  }
  input:checked + &:before {
    transform: translateX(5.5em);
  }
}

.content{
  width: 100%;
  position: relative;
  padding: 0 1em;
}
.splash {
  outline: 1px solid red;
  font-size: 2em;  
}
.msg {
  display: inline-block;
}
.spinner {
  display: inline-block;
  position: relative;
  //width: 1.5em;
  border: .75em solid transparent;
  border-radius: .75em;
  // background-color: red;
  &:before {
    content: "";
    display: block;
    position: absolute;
    left: -0.95em;
    top: -0.95em;
    width: 1.9em;
    height: 1.9em;
    //background-color: blue;
    border-radius: 50%;
    border: .2em solid orange;
  }
}

.footer {
  background-color: $grey;
}
