.container {
  // Dimesions and Colors
  // background-color: $grey;
  width: 100vw;
  min-height: 100vh;  
  // Display Properties
  display: grid;
  grid-template-rows: 4em 2em auto 1.5em;
  grid-template-columns: 1fr;
  grid-gap: 0.25em;
}

.header {
  padding: 0 2vw;
  line-height: 2;
  color: #333333;
  background-color: $grey;
}

.content{
  width: 100%;
  position: relative;
  padding: 0 3vw;
  display: flex;
  flex-direction: column;
}
.splash {  
  overflow: hidden;
  font-size: 2em;
  &.-is-dismissed {
    animation: dismissed 1s ease-out;
    animation-fill-mode: forwards;
  }
  @keyframes dismissed {
    to {opacity: 0;}
  }
}
.msg {
  display: inline-block;
}
.spinner {
  $color-spinner: #333333;
  $radius-in: .4em;
  $radius-out: .15em;
  display: inline-block;
  position: relative;  
  border: $radius-in solid transparent;
  border-radius: 50%;
  &:before {
    content: "";
    display: block;
    position: absolute;
    left: -($radius-in + $radius-out);
    top: -($radius-in + $radius-out); 
    width: 2*$radius-in + 2*$radius-out;
    height: 2*$radius-in + 2*$radius-out;
    border-radius: 50%;
    border: $radius-out solid $color-spinner;
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    left: $radius-in - $radius-out / 2;
    top: -$radius-out;    
    border: $radius-out solid $color-spinner;
    border-radius: 50%;    
    box-shadow: 0 0 2px white;
    transform-origin: -($radius-in - $radius-out / 2);    
    animation: spinner 1s linear infinite;
  }
  @keyframes spinner {
    to {transform: rotate(360deg);}
  }
}

.footer {
  background-color: $grey;
}
