.container {
  // Dimesions and Colors
  // background-color: $grey;
  width: 100vw;
  min-height: 100vh;  
  // Display Properties
  display: grid;
  grid-template-rows: 4em 2em auto 1.5em;
  grid-template-columns: 1fr;
  grid-gap: 0.25em;
}

.header {
  padding: 0 2vw;
  line-height: 2;
  color: #333333;
  background-color: $grey;
}

.nav {  
  padding: 0 2vw;
  line-height: 2;
  color: $white;
  background-color: $primary;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center
}

input[type="radio"] {
  display: none;
}

.menu-item {
  position: relative;
  z-index: 100;
  display: inline-block;
  margin: 0 0.2em;
  background-color: $white;
  color: black;  
}
