.nav {
  position: relative;
  height: 2em;
  padding: 0 3vw;
  color: $white;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;  
  transition: all 1s cubic-bezier(0.51, 1.31, 0.93, 1.18);
  left: 0;
  &.-is-hidden{
    left: -100%;
  }
}

.slider {
  user-select: none;
  position: relative;
  display: inline-block;  
  height: 2em;
  background-color: silver;
  color: black;
  text-transform: uppercase;
  font-size: 0.8em;
  line-height: 2;  
  padding: 0 0.5em 0 3.4em;
  border-radius: 2em;
  overflow: hidden;
  transition: background-color .8s;
  &:hover {
    box-shadow: 2px 2px 2px black;
  }
  &:not(:last-child) {
    margin-right: 0.4em;
  }
  &:after, &:before {
    content: '';
    position: absolute;
    transition: all .8s;
  }
  &:after {
    background-color: white;
    top: 0.4em;
    left: 0.4em;    
    height: 1.2em;
    width: 1.2em;
    border-radius: 50%;
  }
  &:before{
    left: .2em;
    top: .2em;
    width: 3em;
    height: 1.6em;    
    border-radius: 1.6em;
    background-color: #888888;  
  }
  input:checked + & {
    color: white;
    background-color: $primary;
  }
  input:checked + &:after {
    transform: translateX(1.4em);    
  }
}