.streamer {
  display: grid;
  grid-template-columns: 5em 14.7em;
  grid-template-rows: 2em 3em 11.25em;
  align-items: center;
  grid-gap: .2em;
  padding: .5em;
  margin: 0.5em;
  background-color: $secondary;  
  border-radius: .5em;
  max-width: 21em;
  overflow: hidden;
  transition: all 1s;
  animation: unfiltering ease-out .3s forwards; 
  &.-is-filtered {
    animation: filtering ease-out .3s forwards;
  }
  &__logo {
    position:relative;
    grid-column: 1;
    grid-row: 1 / span 2;
    width: 100%;
    overflow: hidden;
    &.-is-live::before {
      content: 'LIVE';
      color:white;
      background-color: red;
      font-size: .8em;
      line-height: 1.4em;
      font-weight: bold;
      text-align: center;
      position: absolute;
      height: 1.4em;
      width: 6.25em;      
      top: -0.6em;
      left: -3.125em;
      transform: rotate(-45deg) translateY(2em);
      box-shadow: 2px 2px 2px black;
    }
  }
  &__header{
    //font-size: 2em;
    max-width: 65vw;
    color: $white;
    text-shadow: 1px 1px black;
  }
  &__text {
    margin: 0;
    font-size: .8em;
    //display: none;
  }
  &__preview {    
    overflow: hidden;
    grid-column: 1 / span 2;
    grid-row: 3;
    max-height: 100%;
    &>img{
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    &.-is-hidden{
      display: none;
    }
  }
  @keyframes filtering {
    to {
      padding: 0;
      max-width: 0;
      opacity: 0;
    }
  }
  @keyframes unfiltering {
    from {
      padding: 0;
      max-width: 0;
      opacity: 0;
    }
  }
}