*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.5;
}

body {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

a, a:visited {
  color: initial;
  text-decoration: none;
}

input[type="radio"] {
  display: none;
}

.container {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 4em 2em auto 1.5em;
  grid-template-columns: 1fr;
  grid-gap: 0.25em;
}

.header {
  padding: 0 2vw;
  line-height: 2;
  color: #333333;
  background-color: #d6dfc2;
}

.nav {
  position: relative;
  height: 2em;
  padding: 0 3vw;
  color: #f6fceb;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  transition: transform 1s cubic-bezier(0.51, 1.31, 0.93, 1.18);
  left: 0;
}

.nav.-is-hidden {
  left: -100%;
}

.slider {
  user-select: none;
  position: relative;
  display: inline-block;
  width: 7em;
  height: 1.5em;
  background-color: silver;
  color: black;
  text-transform: uppercase;
  font-size: 0.8em;
  font-style: italic;
  padding-left: 1.5em;
  padding-right: 0.5em;
  border-radius: 1.5em;
  overflow: hidden;
  transition: color .8s;
  transition: padding .8s;
}

.slider:hover {
  transform: scale(1.05);
}

.slider:not(:last-child) {
  margin-right: 0.4em;
}

.slider:before {
  content: '';
  display: inline-block;
  position: absolute;
  background-color: white;
  top: 0.25em;
  left: 0.25em;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  transition: all .4s;
}

input:checked + .slider {
  font-style: normal;
  font-weight: bold;
  color: white;
  padding-left: 0.5em;
  background-color: #016367;
}

input:checked + .slider:before {
  transform: translateX(5.5em);
}

.content {
  width: 100%;
  position: relative;
  padding: 0 3vw;
  display: flex;
  flex-direction: column;
}

.splash {
  overflow: hidden;
  font-size: 2em;
}

.splash.-is-dismissed {
  animation: dismissed 1s ease-out;
  animation-fill-mode: forwards;
}

@keyframes dismissed {
  to {
    opacity: 0;
  }
}

.msg {
  display: inline-block;
}

.spinner {
  display: inline-block;
  position: relative;
  border: 0.4em solid transparent;
  border-radius: 50%;
}

.spinner:before {
  content: "";
  display: block;
  position: absolute;
  left: -0.55em;
  top: -0.55em;
  width: 1.1em;
  height: 1.1em;
  border-radius: 50%;
  border: 0.15em solid #333333;
}

.spinner:after {
  content: "";
  display: block;
  position: absolute;
  left: 0.325em;
  top: -0.15em;
  border: 0.15em solid #333333;
  border-radius: 50%;
  box-shadow: 0 0 2px white;
  transform-origin: -0.325em;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.streamer {
  display: grid;
  grid-template-columns: 5em 1fr;
  grid-template-rows: 5em;
  grid-gap: .5em;
  padding: .5em 0;
  height: 6em;
}

.streamer__logo {
  position: relative;
  grid-column: 1/2;
  grid-row: 1/3;
  width: 100%;
  overflow: hidden;
}

.streamer__logo.-is-live::before {
  content: 'LIVE';
  color: white;
  background-color: red;
  font-size: .8em;
  line-height: 1.4em;
  font-weight: bold;
  text-align: center;
  position: absolute;
  height: 1.4em;
  width: 6.25em;
  top: -0.6em;
  left: -3.125em;
  transform: rotate(-45deg) translateY(2em);
  box-shadow: 2px 2px 2px black;
}

.streamer__logo > img {
  width: 100%;
}

.streamer__header {
  font-size: 2em;
  max-width: 85vw;
}

.streamer__text {
  display: none;
}

.footer {
  background-color: #d6dfc2;
}
